<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Purchase Form</title>
</head>
<body>
  <p>Dear Admin,</p>
  <p>This is an automated response to indicate that a customer wishes to purchase the following item: </p>
  <hr>
  <h2>Customer Details</h2>
  <p>Customer Name: {{customerName}}</p>
  <p>Customer PSID: {{customerPsid}}</p>
  <hr>
  <h2>Product Details</h2>
  <p>Name: {{productName}}</p>
  <p>Details: {{productDescription}}</p>
  <p>SKU: {{productSku}}</p>
  <p>Type: {{productType}}</p>
  <p>Price: $ {{productPrice}}</p>
  <p>Shipping Fee: $ {{productShipping}}</p>
</body>
</html>